@model Product



<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="row">
                <div class="col-10">
            <div class="border p-3">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow" />
                    <label asp-for="Title" class="ms-2"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Description" class="form-control border-0 shadow" />
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ISBN" class="form-control border-0 shadow" />
                    <label asp-for="ISBN" class="ms-2"></label>
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Author" class="form-control border-0 shadow" />
                    <label asp-for="Author" class="ms-2"></label>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ListPrice" class="form-control border-0 shadow" />
                    <label asp-for="ListPrice" class="ms-2"></label>
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price" class="form-control border-0 shadow" />
                    <label asp-for="Price" class="ms-2"></label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price50" class="form-control border-0 shadow" />
                    <label asp-for="Price50" class="ms-2"></label>
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price100" class="form-control border-0 shadow" />
                    <label asp-for="Price100" class="ms-2"></label>
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label asp-for="CategoryId" class="ms-2"></label>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                 <input asp-for="ImageUrl" class="form-control border-0 shadow" />
                <div class="form-floating py-2 col-12">
                    <input type="file" name="file" asp-for="ImageUrl" class="form-control border-0 shadow" />
                    <label asp-for="ImageUrl" class="ms-2"></label>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-area="Admin" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>
                    </div>
                </div>
                <div class="col-2">



                    <script>
                        console.log("@Model.ImageUrl");
                        var relativePath = "@Model.ImageUrl"; // Assuming Model.ImageUrl is the relative path to the image
                        var url = "@Url.Content("~/images/product/")" + relativePath;
                        console.log(url);
                        document.write('<img src="' + url + '" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />');
                    </script>
                </div>
            </div>
        </form>
    </div>
</div>




@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}